<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Weather Now
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center" id="container ">
    <h1 class="ion-60p">{{temp}} °C</h1>
    <div *ngFor="let w of weather">
      <img src="http://openweathermap.org/img/wn/{{w.icon}}@2x.png" height="180px" />
      <h1 class="ion-30p">
        {{city}}<br />
        {{w.main}}(<small>{{w.description}}</small>)
      </h1>
    </div>
  </div>
</ion-content>